/* CSS code for main.css */

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  /* Heading */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  h1{
    font-size: 36px;
    color: #333;
    margin: 0;
  }
  
  /* Horizontal Rule */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  /* Paragraph */
  #introParag {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Image */
  #hotel {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Button Container */
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  /* Button */
  .button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .bookDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #book {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  #book:hover{
    background-color: #555;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  